body {
	margin: 0;
	padding 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column nowrap;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 10px;
}

div.container {
	display: flex;
	justify-content: center;
	align-items: stretch;
	height: 840px;
	width: 840px;
}

div.column {
	display: flex;
	flex-flow: column nowrap;
	flex: 1;
}

div.box {
	border: 1px solid black;
	flex: 1;
}
